@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

nav a {
    text-decoration: none;
    margin-left: 3rem;
    cursor: pointer;
    color: #374151;
}
/*Deixar as opções de navegação alinhados horizontalmente*/
.opcoes_nav{
    display: flex;
    flex-direction: row;
}
#nome_projeto {
    font-weight: bolder;
    color: #000;
}

#entrar {
    all: unset;
    margin-left: 3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #22C55E;
    border-radius: 5px;
    color: #22C55E;
}

#tela1 {
    width: 100vw;
    height: 100vh;
    background-color: #F0FDF4;
}

.conteudo_esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.conteudo_esquerdo h1 {
    width: 400px;
    font-size: 28px;
    margin-top: 2.5rem;
    color: #111827;
}

.conteudo_esquerdo p {
    width: 400px;
    line-height: 1.8;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #374151;
    font-size: 16px;
}

.conteudo_esquerdo button {
    all: unset;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #22C55E;
    color: #fff;
    cursor: pointer;
}

.conteiner {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.conteiner .card {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #D1D5DB;
}

.conteiner a {
    width: 454.5px;
    height: 216px;
    text-decoration: none;
    color: #4B5563;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.conteiner h4 {
    color: #1F2937;
}

.ancora-menor {
    width: 297.67px;
    height: 252px;
}

.row-columm {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

#tela4 h1, #tela3 h1 {
    margin-bottom: 48px;
    margin-top: 48px;
    text-align: center;
    font-size: 25px;
}

.secao-branca {
    background-color: white;
    padding: 48px 0;
    margin-top: 48px;
    padding-bottom: 48px;
}