@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgba(239, 246, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tela_votos{
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
}
h1{
    margin: 50px;
}
.denuncia{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
h2{
    margin-bottom: 15px;
}
.denuncia_info{
    display: flex;
    flex-direction: row;
}
.denuncia_info img{
    width: 200px;
    height: 200px;
    object-fit: cover
}
.denuncia_descricao{
    margin-left: 10px;
}
.denuncia_localizacao{
    font-weight: bold;
}
.denuncia_dados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.denuncia_dados button{
    all: unset;
    width: 150px;
    padding: 10px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 10px;
    background-color: #22c55e;
    text-align: center;
    color: white;
}
@media (max-width: 1000px){
    h2{
        text-align: center;
    }
    .tela_votos{
        width: 100%;
    }
    .denuncia_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .denuncia_info img{
        width: 100%;
        height: 100%;
    }
    .denuncia_descricao{
        margin-left: 0px;
        margin-top: 10px;
    }
    .denuncia_dados{
        flex-direction: column;
    }
    .denuncia_dados button{
        margin-top: 10px;
        width: 100%;
    }
}